# タイタニックチュートリアルを使った問題


なぜ作ろうかと言う思いに至ったかというと、ただ「写経しても頭にはいんねー」と思い、「よし！問題を作ろう」と思ったわけなのです。
これを何も見ずに作れるようになると次のレベルにステップアップできるはず！と思います。

 https://www.kaggle.com/startupsci/titanic-data-science-solutions　これを参考に問題を作ってみました。

In [1]:
import numpy as np
import pandas as np
import random as rnd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### 問題1


PandasのDataFrameでcsvファイルを読み込んでみましょう。

基本`None`と書かれたところを埋めてください

In [ ]:
train_df =None
test_df = None

combine = [train_df, test_df]

### 問題２

どんなカラムがあるかを調べてみましょう。

In [ ]:
print(None)

### 問題3

テストデータ、トレインデータの情報を調べてみましょう。

In [ ]:
# ここにコードを書いてね！

### 問題４

describe()を使ってみましょう

In [ ]:
# ここにコードを書いてね

### 問題5

describe()に引数を与えて表示されなかったカラムも表示させてみよう。

In [ ]:
#ここにコードを書いてね

### 問題6

`Pclass`と`Survived`の関係性を表で表示させてみましょう。

こんな感じ↓

[![https://diveintocode.gyazo.com/fcd81f5d313fee89d88e6218308dc97b](https://t.gyazo.com/teams/diveintocode/fcd81f5d313fee89d88e6218308dc97b.png)](https://diveintocode.gyazo.com/fcd81f5d313fee89d88e6218308dc97b)

In [ ]:
# ヒントgroupby()やmean()を使ってみよう。

### 問題7

SexとSurvivedの関係性を表で表示させてみよう

In [ ]:
# ここにコードを書いてね

### 問題8

`SibSp`と`Sirvived`の関係性を表で表してみよう

In [ ]:
#ここにコードを書いてね

### 問題９

`Parch`と `Survived`の関係性を見てみましょう。

In [ ]:
# ここにコードを書いてね

### 問題9

`Age`と`Survived`のヒストグラムを書いてみよう。

In [ ]:
# ここにコードを書いてね

### 問題10

`Pclass`と`Survived`のヒストグラムを書いてみましょう。

In [ ]:
# ここにコードを書いてね

### 問題１１

`Embarked`と`Sex`と`Survied`の関係性をグラフで表してみましょう。

[![https://diveintocode.gyazo.com/43a93394d76274dce126cca7147ef268](https://t.gyazo.com/teams/diveintocode/43a93394d76274dce126cca7147ef268.png)](https://diveintocode.gyazo.com/43a93394d76274dce126cca7147ef268)

In [ ]:
# ここにコードを書いてね

###  問題１２

`Embarked`と`Fare`と`Survied`の関係性をグラフで表してみましょう。

例
[![https://diveintocode.gyazo.com/159ba189282cfa9648b9267fd1b3a1e1](https://t.gyazo.com/teams/diveintocode/159ba189282cfa9648b9267fd1b3a1e1.png)](https://diveintocode.gyazo.com/159ba189282cfa9648b9267fd1b3a1e1)

In [ ]:
#ここにコードを書いてね

### 問題13

`Ticket`,`Cabin`をDataframeから除外してみよう。除外したら変数combineに入れてね。(正解('After', (891, 10), (418, 9))

In [ ]:
train_df = None
test_df = None
combine = None

print('after', train_df.shape, test_df.shape)

### 問題１４

新しい特徴`Title`があるのでそれと'Sex'の関係性を見てみましょう。

In [ ]:
for dataset in combine:
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

#ここにコードを書いてね

### 問題15

珍しい名前は全部`Rare`にしてるからこのコードを参考にして`Mlle`→`Miss`、`Ms`→`Miss`、`Mme`→`Mrs`に変更してね。

そして`Title`と`Suvived`の関係性をみてみよう！

In [ ]:
for dataset in combine:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col',\
 	'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

    #ここにコードを書いてね

#ここにも書いてね

### 問題16

文字だと扱い難いから`Titleカラム`をMr→ 1, Miss→ 2, "Mrs→ 3, "Master→ 4, "Rare→ 5に変更してみよう。欠損値は0をぶち込んで変更したDataFrameを表して確認してみよう。

In [ ]:
#ここにコードを書いてね

### 問題17

train_dfは`Name`と`Passengerld`のDataFrameのカラムを除外しましょう。test_dfは`Name`だけ除外してみましょう。

In [ ]:
train_df = None
test_df = None
combine = [train_df, test_df]
train_df.shape, test_df.shape #理想 ((891, 9), (418, 9))

### 問題18

`Sex`カラムがstringなので数値にしてみましょう。Female=1 、male =0

In [ ]:
#ここにコードを書いてね

train_df.head()

### 問題19

`Pclass`と`Sex`と`Age`の関係をグラフで表してみよう。
例
[![https://diveintocode.gyazo.com/cd01f1fb43372b31d01ecd1f5036eccf](https://t.gyazo.com/teams/diveintocode/cd01f1fb43372b31d01ecd1f5036eccf.png)](https://diveintocode.gyazo.com/cd01f1fb43372b31d01ecd1f5036eccf)

In [ ]:
#ここにコードを書いてね

In [ ]:
#難しそうだったので問題にしてません。
for dataset in combine:
    for i in range(0, 2):
        for j in range(0, 3):
            guess_df = dataset[(dataset['Sex'] == i) & \
                                  (dataset['Pclass'] == j+1)]['Age'].dropna()

            # age_mean = guess_df.mean()
            # age_std = guess_df.std()
            # age_guess = rnd.uniform(age_mean - age_std, age_mean + age_std)

            age_guess = guess_df.median()

            # Convert random age float to nearest .5 age
            guess_ages[i,j] = int( age_guess/0.5 + 0.5 ) * 0.5
            
    for i in range(0, 2):
        for j in range(0, 3):
            dataset.loc[ (dataset.Age.isnull()) & (dataset.Sex == i) & (dataset.Pclass == j+1),\
                    'Age'] = guess_ages[i,j]

    dataset['Age'] = dataset['Age'].astype(int)

train_df.head()

### 　問題20

`AgeBand`という新しいカラムを作成し、年齢階級と`Suvived`の関係性を表で表してみましょう。bins=5で作りましょう。

In [ ]:
#コードを書いてね

### 問題２１

`AgeBand`が１６歳以下なら0、１６〜３２なら１、32〜48なら２、48~64なら3、それ以上なら4というように`Age`カラムを変更してみましょう。

In [ ]:
#ここにコードを書いてね

### 問題22 
`AgeBand`カラムをDataFrameから消去しましょう。そして確認しましょう。

In [2]:
#ここにコードを書いてね

### 問題23

新しいカラム`FamilySize`を作ります。`Parch`と`SibSp`を足して最後に１も足して`FamilySize`を作ってみましょう。

そして`FamilySize`と`Survived`の関係性を見てみましょう。

In [ ]:
#ここにコードを書いてね

### 問題24

新しいカラム`IsAlone`を作ります。`FimilySize`が１の場合`IsAlone`に代入し、それ以外は0を代入しましょう。

In [ ]:
#ここにコードを書いてね

### 問題２５

`Parch` ,`SibSp`,`FamilySize`をDataFrameから除外しましょう。

In [ ]:
#ここにコードを書いてね

### 問題２５

新しいカラム`Age*Class`を作ります。`Age`と`Pclass`かけたものを`Age*Class`に代入しましょう。

そしてカラム`Age`、`Pclass`、`Age*Calss`のDataFrameを表示させてみましょう。

In [ ]:
#ここにコードを書いてね

### 問題26

`Embarked`の損失値はすべて`S`を代入しましょう。そして`Embarked`と`S`の関係性をみてみましょう。

In [4]:
#コードを書いてね

### 問題27

`Embarked`カラムをS→0,　C→1,　Q→2 へ変更しましょう。

In [ ]:
#コードを書いてね

### 問題28

test_dfの`Fare`カラムの損失値は`Fare`の損失値を除いた中央値をいれて表示させましょう。

In [ ]:
#コードを書いてね

### 問題２９

`Fare`を４つの値段帯に分けて、４つに分けた値段帯と`Survived`の関係性を見てみましょう。

In [ ]:
#コードを書いてね

### 問題30

`Fare`カラムの値が7.91以下なら0, 7.91〜14.454なら1, 14.454〜31なら2、31〜 512.329なら３に変更しましょう。

In [ ]:
# コードを書いてね

これでデータの前処理が終わりましたのでばんばんいろんな分類器にデータをぶち込んでみてください。

### 参照

答えはほぼここですhttps://www.kaggle.com/startupsci/titanic-data-science-solutions